body{
    font-family: 'Courier New', Courier, monospace;
}
#latlng{
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}
#map{
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,255,0,0.5);
}